[user]
	name = Michael Shields
[init]
        defaultBranch = main
[commit]
        gpgsign = true
[core]
	# less -FRX is the git default, but only if you have not set $LESS.
	pager = less -FRX

	hooksPath = ~/.githooks
[alias]
	br = branch
	branch-name = !git rev-parse --abbrev-ref HEAD
	c = commit
	ca = commit -a
	co = checkout
	cob = checkout -b
	d = diff
	p = status
	por = !git push -u origin $(git branch-name)
[pull]
        # Merge instead of rebasing to be consistent with GitHub web UI.
	rebase = false
[advice]
	detachedHead = false
