[user]
	name = Michael Shields
	email = michael.shields@freenome.com
[core]
	pager = less -R
[alias]
	br = branch
	c = commit
	ca = commit -a
	co = checkout 
	cob = checkout -b
	d = diff
	p = status
	por = git push --set-upstream origin $(git rev-parse -- abbrev-ref HEAD)
