!
! ~/.Xresources
! Michael Shields <shields@msrl.com>
! $Id$
!

#define DESKFG grey80
#define DESKBG black

*cursorColor: firebrick2

! This set of sizes is chosen so that two Emacs can fix abreast on a
! screen 1280 pixels wide.
Emacs.default.attributeFont: -misc-fixed-medium-r-semicondensed-*-*-100-*-*-*-*-*-*
Emacs.modeline.attributeFont: -microsoft-georgia-medium-r-normal-*-*-80-*-*-*-*-*-*
#if HEIGHT > 1200
Emacs.geometry: 100x84
#elif HEIGHT > 800
Emacs.geometry: 100x68
#elif HEIGHT > 600
Emacs.geometry: 90x53
#else
Emacs.geometry: 103x34+0+0
#endif

xterm*foreground: black
xterm*background: white
xterm*ttyModes: erase ^?
xterm*font: -misc-fixed-medium-r-semicondensed--13-120-75-75-c-60-iso10646-1
xterm*faceName: andale:size=8:charwidth=6:minspace=1
#if HEIGHT >= 1200
xterm*geometry: 100x80
#elif HEIGHT > 800
xterm*geometry: 80x65
#elif HEIGHT > 640
xterm*geometry: 80x50
#else
xterm*geometry: 80x25
#endif

#if PLANES < 16
netscape*installColormap: true
#endif
netscape*blinkingEnabled: false
netscape*hysteresis: 6
netscape*linkForeground: #000099
netscape*vlinkForeground: #990000
netscape*defaultForeground: #000000
netscape*defaultBackground: #e6e6e6
netscape.Navigator.form.topArea.topLeftArea.urlText.background: #f0f0f0
! #if HEIGHT > 1200
! netscape.Navigator.geometry: =800x1200
! #elif HEIGHT > 1000
! netscape.Navigator.geometry: =640x900
! #else
! netscape.Navigator.geometry: 634x456+0+0
! #endif

swisswatch*SwissWatch.tickTime: 1
swisswatch*foreground: DESKFG
swisswatch*background: DESKBG
! Railroad mode means the minute hand steps instead of sweeps.
swisswatch*railroad: true
! Based loosely on the stock config.
swisswatch*SwissWatch.nChildren:                5
swisswatch*SwissWatch.Hand.inner:               -.05
swisswatch*SwissWatch.Hand.width:               0
swisswatch*SwissWatch.*.cap:                    round
swisswatch*SwissWatch.Hand.shape:               triangle
! Minute ticks:
swisswatch*SwissWatch.child_0.class:            Mark
swisswatch*SwissWatch.child_0.cycle:            60
swisswatch*SwissWatch.child_0.strokeWidthR:     0.01
swisswatch*SwissWatch.child_0.inner:            0.89
swisswatch*SwissWatch.child_0.outer:            0.9
! Hour ticks:
swisswatch*SwissWatch.child_1.class:            Mark
swisswatch*SwissWatch.child_1.cycle:            12
swisswatch*SwissWatch.child_1.strokeWidthR:     0.02
swisswatch*SwissWatch.child_1.inner:            .81
swisswatch*SwissWatch.child_1.outer:            .9
! Hour hand:
swisswatch*SwissWatch.child_2.class:            Hand
swisswatch*SwissWatch.child_2.cycle:            43200
swisswatch*SwissWatch.child_2.outer:            .42
swisswatch*SwissWatch.child_2.render:           filled
swisswatch*SwissWatch.child_2.strokeWidth:	0
swisswatch*SwissWatch.child_2.width:           	0.12
! Minute hand:
swisswatch*SwissWatch.child_3.class:            Hand
swisswatch*SwissWatch.child_3.cycle:            3600
swisswatch*SwissWatch.child_3.outer:            .70
swisswatch*SwissWatch.child_3.render:           filled
swisswatch*SwissWatch.child_3.strokeWidth:	0
swisswatch*SwissWatch.child_3.width:           	0.12
! Second hand:
swisswatch*SwissWatch.child_4.class:            Hand
swisswatch*SwissWatch.child_4.render:           filled
swisswatch*SwissWatch.child_4.shape:            arrow
swisswatch*SwissWatch.child_4.cycle:            60
swisswatch*SwissWatch.child_4.inner:            0.75
swisswatch*SwissWatch.child_4.outer:            0.8
swisswatch*SwissWatch.child_4.strokeWidth:	0
swisswatch*SwissWatch.child_4.width:            0.08
swisswatch*SwissWatch.child_4.foreground:	firebrick2

xbiff*borderWidth: 0
xbiff*foreground: DESKFG
xbiff*background: DESKBG
xbiff*update: 1

xclock*borderWidth: 0
xclock*height: 82
xclock*width: 82
xclock*padding: 4
xclock*background: DESKBG
xclock*foreground: DESKFG
xclock*hands: DESKFG
xclock*highlight: DESKFG

xearth*gamma: 2.2
xearth*day: 85
xearth*markers: false
xearth*stars: false
xearth*wait:60
xearth*proj: merc
xearth*pos: fixed 0 0
xearth*term: 18
!xearth*proj: ortho
!xearth*pos: fixed 38.92 -77.40
!xearth*term: 7

! does not support tildes:
xmdb*cddb: /home/shields/.cddb

xplaycd*cddb: ~/.cddb
xplaycd.geometry: +0+0
xplaycd*autostart: true

xraplayer.geometry: +0+0

! xscreensaver
xscreensaver*grabVideoProbability: 1.0
xscreensaver*videoGain: 1.0
xscreensaver*grabVideoCommand: streamer -q -o /home/shields/.vidcap.ppm; cat /home/shields/.vidcap.ppm
